@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #4B4B4B;
}

.container {
    position: relative;
    /*width: 100%;*/
    max-width: 1440px;
    min-height: 820px;
    margin: 0 auto;
    padding: 0;
    background: url("img/hero.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;

}

.scroll-btn{
    position: absolute;
    top: 90%;
    left: 48%;
}

.menu {
    margin: 0 6%;
    padding: 2%;
}


.logo {
    float: left;
    transition: .3s;
    margin: 30px 0 0 110px;
}

label {
    margin: 0 10px 0 0;
    font-size: 26px;
    line-height: 80px;
    display: none;
    width: 26px;
    float: right;
    color: #17B9E6;
}

#toggle {
    display: none;
}

nav {
    width: 100%;
}

.menu nav ul {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
    display: table;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li:nth-child(1) {
    margin: 5px 16px 0 0;
}
nav ul li:nth-child(2) {
    margin: 5px 16px 0 16px;
}
nav ul li:nth-child(3) {
    margin: 5px 16px 0 16px;
}
nav ul li:nth-child(4) {
    margin: 5px 16px 0 16px;
}
nav ul li:nth-child(5) {
    margin: 5px 0 0 16px;
}

nav ul li a {
    clear: right;
    display: block;
    text-decoration: none;
    padding: 13px 1px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    transition: .3s;
    border-bottom: 1px solid transparent;
}

nav a:hover {
    border-bottom: 1px solid #17B9E6;
    /*border-bottom: 1px solid deepskyblue;*/
}


.main-text h1 {
    height: 110px;
    width: 650px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    padding: 0;
}

/*div.scroll-btn {*/
    /*position: absolute;*/
    /*top: 91%;*/
    /*left: 49%;*/
/*}*/


<!--/*section two*/-->

.container2 {
    margin: 0 auto;
    padding: 100px;
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 1288px;
    background-color: #fcfcfc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    height: 49px;
    /*width: 329px;*/
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 49px;
    text-align: center;
    /*position: absolute;*/
    white-space: nowrap;
    /*top: 53%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}


.section-mark {
    margin: 50px auto 70px;
    width: 100%;
    max-width: 1168px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.text {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.what-mask {
    float: left;
    height: 380px;
    width: 48%;
    max-width: 380px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
}

.rectangle-10 {
    float: right;
    position: relative;
    width: 70%;
    /*border: 1px solid #17B9E6;*/
    border-radius: 5px;
}

.aaaaa {
    float: right;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid #17B9E6;
    border-radius: 5px;
}


#line{
    height: 1px;
    width: 10%;
    background-color: #17B9E6;
    position: absolute;
    top: 50%;
    left: 0;
}

.menu-rows {
    height: 97px;
    width: 95%;
    /*border: 1px solid red;*/
    margin: 10px auto;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
}

.menu-rows img {
    margin: 26px;
}

.menu-rows .double {
    float: right;
    width: 70%;
    color: #5F605D;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 29px;
    margin-top: 20px;
}

.menu-rows p {
    float: right;
    /*height: 65px;*/
    width: 70%;
    color: #5F605D;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 65px;
}

.what-we-do {
    height: 34px;
    width: 178px;
    margin: 50px 129px 40px 11%;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    text-align: center;
}

.text-nulla {
    height: 198px;
    width: 300px;
    margin-left: 11%;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
}


<!--/*section three*/-->

.container3 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    min-height: 1090px;
    height: auto;
    background-color: #fcfcfc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.group1 {
    margin: 0 auto;
    /*position: absolute;*/
    height: 740px;
    width: 100%;
    max-width: 1190px;
    /*top: 10%;*/
    /*left: 10%;*/
    display: table;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

.we-do-it-card {
    width: 49%;
    height: 740px;
    display: grid;
    grid-row-gap: 25px;
    float: left;
}

.we-do-it {
    width: 49%;
    height: 740px;
    float: right;
}

.shape {
    height: 64px;
    width: 56px;
    /*margin: 27px;*/
    /*opacity: 0.3;*/
}

.shape img {
    width: 100%;
}

.card {
    padding: 5%;
    width: 100%;
    max-width: 510px;
    min-height: 230px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
}

.how-we {
    height: 49px;
    width: 263px;
    color: #4A4A4A;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 49px;
    text-align: center;
    white-space: nowrap;
}

.cras-text {
    margin-top: 30px;
    height: 88px;
    width: 100%;
    max-width: 576px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
}

.desktop {
    position: relative;
    padding: 17px;
    top: 11%;
    left: 6%;
    /*margin: 83px 35px;*/
    z-index: 0;
    height: 333px;
    width: 500px;
    border-radius: 4.17px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 17px 0 rgba(0,0,0,0.15);
}

.iphone {
    position: relative;
    padding: 10px;
    top: -2%;
    left: 71%;
    z-index: 1;
    /*margin: 320px 414px;*/
    /*top: 488px;*/
    /*left: 79.7%;*/
    height: 250px;
    width: 167px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 17px 0 rgba(0,0,0,0.15);
}

.aaa {
max-height: 299px;
max-width: 464px;
    width: 100%;
    height: 100%;
/*position: absolute;*/
/*top: 5%;*/
/*left: 4%;*/
background-color: #FFFFFF;
box-shadow: 0 10px 17px 0 rgba(0,0,0,0.15);
}
.aaa img {
    width: 100%;
    height: 100%;
}
.bbb {
    width: 100%;
    height: 100%;
/*position: absolute;*/
/*top: 2%;*/
/*left: 5%;*/
box-shadow: 0 10px 17px 0 rgba(0,0,0,0.15);
}
.bbb img {
    width: 100%;
    height: 100%;
}

.card h1 {
    position: relative;
    top: -77px;
    float: right;
    width: 370px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 52px;
}
.card  h2 {
    float: right;
    width: 370px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-top: -77px;
}
.card p {
    float: right;
    width: 370px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    margin-top: -20px;
}

<!--/*section four*/-->

.container4 {
    position: relative;
    margin: 0 auto;
    height: 740px;
    width: 100%;
    max-width: 1440px;
    background: #fcfcfc url("img/path.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.group2 {
    height: 220px;
    width: 90%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.group2 h1 {
    margin: 0 auto;
    height: 49px;
    width: 267px;
    color: #4A4A4A;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 49px;
    text-align: center;
    white-space: nowrap;
}

.group2 p {
    margin: 50px auto 100px;
    height: 86px;
    width: 94%;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.group3 {
    position: relative;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3%;
    justify-content: center;
}

.cards {
    height: 470px;
    width: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.15);
}

.cards img {
    margin: 40px auto -20px;
    display: block;
}

.cards p {
    height: 242px;
    width: 332px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 38px;
}
.cards .foot {
    height: 60px;
    border-radius: 0 0 3px 3px;
}
.foot img {
    margin: 20px 30px auto;
    float: right;
    height: 20px;
    width: 52px;
}

#br1 .foot {
    width: 100%;
    background: linear-gradient(270deg, #82D9B8 0%, #18BCE9 100%);
}

#br2 .foot {
    width: 100%;
    background: linear-gradient(270deg, #F2BA30 0%, #E62F17 100%);
}

#br3 img {
    margin: 30px auto -20px;
}
#br3f img {
    margin: 20px 30px auto;
}
#br3 .foot {
    width: 100%;
    background: linear-gradient(90deg, #C317E6 0%, #E67417 100%);
}


/*<!--!*section five*!-->*/

.container5 {
    position: relative;
    margin: 0 auto;
    height: 1564px;
    width: 100%;
    max-width: 1440px;
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background {
    position: relative;
    left: 48%;
    height: 717px;
    width: 657px;
    background: #FFFFFF url("img/shape.png") no-repeat;
    background-size: 100%;
}

.group4 {
    height: 335px;
    width: 88%;
    position: relative;
    top: -25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.group4 h1 {
    margin: 0 auto;
    height: 49px;
    width: 349px;
    color: #4A4A4A;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 49px;
    text-align: center;
    white-space: nowrap;
}
.group4 p {
    margin: 50px auto;
    height: 86px;
    width: 94%;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}
.icons {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.icons menu {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.icons li {
    margin: 0 25px 0;
    list-style-type: none;
    display: inline-block;
}

.group5 {
    position: relative;
    height: 512px;
    width: 100%;
    max-width: 1363px;
    top: -18%;
    /*left: 8px;*/
}

.innovators {
    float: left;
    height: 512px;
    width: 50%;
}

.innovators img {
    width: 95%;
}

.quality {
    float: right;
    margin-top: 80px;
    padding: 40px;
    height: 350px;
    width: 50%;
    max-width: 625px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
}

.quality h1 {
    white-space: nowrap;
    height: 37px;
    width: 308px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
}

.quality p {
    height: 210px;
    width: 542px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
}

/*<!--!*section six*!-->*/

.container6 {
    position: relative;
    margin: 0 auto;
    height: 1400px;
    width: 100%;
    max-width: 1440px;
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.group6 {
    height: 208px;
    width: 90%;
    position: relative;
    top: 6%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.group6 h1 {
    margin: 0 auto;
    height: 49px;
    width: 495px;
    color: #4A4A4A;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 49px;
    text-align: center;
    white-space: nowrap;
}

.group6 p {
    margin: 50px auto;
    height: 72px;
    width: 100%;
    max-width: 1084px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.finish {
    position: absolute;
    top: 15%;
    height: 400px;
    width: 100%;
    max-width: 1440px;
    margin: 350px auto 0;
    background: #FFFFFF url('img/Group 8.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.path {
    position: relative;
    left: 50%;
    top: 24%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    min-height: 500px;
    width: 90%;
    max-width: 900px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
}

.oval {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*margin: 33px 388px 0;*/
    height: 121px;
    width: 125px;
}

.oval-text {
    position: relative;
    top: 40px;
    margin: 26px 8%;
    height: 96px;
    width: 84%;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.path .aleksandar-sorensen {
    position: relative;
    top: 50px;
    white-space: nowrap;
    height: 24px;
    width: 100%;
    color: #4B4B4B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.logo-ooblife {
    position: relative;
    top: 73px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*margin: 15px 392px 0;*/
    height: 60px;
    width: 116px;
}

.line {
    position: relative;
    margin: 0 5%;
    width: 90%;
    top: 65px;
    /*margin: 19px 37px 0;*/
    height: 1px;
    max-width: 830px;
    background-color: #EDEDED;
}

.dots {
    position: relative;
    top: 85px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: -webkit-inline-flex;
    /*margin: 23px 400px;*/
    height: 10px;
    width: 100px;
}

.point {
height: 10px;
width: 10px;
border-radius: 50%;
background-color: #D8D8D8;
}
.point:nth-child(1) {
margin-right: 10px;
}
.point:nth-child(2) {
margin: 0 10px;
}
.point:nth-child(3) {
margin: 0 10px;
background-color: #16B4E1;
}
.point:nth-child(4) {
margin-left: 10px;
}

<!--/*section footer*/-->

.footer {
position: absolute;
top: 950px;
height: 466px;
    width: 100%;
    max-width: 1440px;
background-color: #4B4B4B;
}

.footer-box1 {
float: left;
width: 18.5%;
height: 308px;
margin-left: 10%;
}

.footer-box1 p {
margin: 42px 0 0;
height: 22px;
width: 104px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 18px;
letter-spacing: 1px;
line-height: 22px;
text-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
text-transform: uppercase;
text-align: left;
white-space: nowrap;
}

.footer-line {
width: 100%;
height: 1px;
transform: scaleY(-1);
background-color: #7D7D7D;
margin-top: 20px;
margin-bottom: 5px;
}

.footer-box1 ul {
margin: 0;
padding: 0;
}
.footer-box1 ul li {
list-style-type: none;
padding-top: 12px;
margin: 0;
}
.footer-box1 ul li a {
text-decoration: none;
height: 24px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 16px;
line-height: 24px;
}

.footer-box2 {
float: left;
width: 18.5%;
height: 308px;
margin-left: 2%;
}

.footer-box2 p {
margin: 42px 0 0;
height: 22px;
width: 104px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 18px;
letter-spacing: 1px;
line-height: 22px;
text-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
text-transform: uppercase;
text-align: left;
white-space: nowrap;
}


.footer-box2 ul {
margin: 0;
padding: 0;
}
.footer-box2 ul li {
list-style-type: none;
padding-top: 12px;
margin: 0;
}
.footer-box2 ul li a {
text-decoration: none;
height: 24px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 16px;
line-height: 24px;
}


.footer-box3 {
float: left;
width: 18.5%;
height: 308px;
margin-left: 2%;
}

.footer-box3 p {
margin: 42px 0 0;
height: 22px;
width: 104px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 18px;
letter-spacing: 1px;
line-height: 22px;
text-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
text-transform: uppercase;
text-align: left;
white-space: nowrap;
}


.footer-box3 ul {
margin: 0;
padding: 0;
}
.footer-box3 ul li {
list-style-type: none;
padding-top: 12px;
margin: 0;
}
.footer-box3 ul li a {
text-decoration: none;
height: 24px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 16px;
line-height: 24px;
}


.footer-box4 {
float: left;
width: 18.5%;
height: 308px;
margin-left: 2%;
}

.footer-box4 p {
margin: 42px 0 0;
height: 22px;
width: 104px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 18px;
letter-spacing: 1px;
line-height: 22px;
text-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
text-transform: uppercase;
text-align: left;
white-space: nowrap;
}


.footer-box4 ul {
margin: 0;
padding: 0;
}
.footer-box4 ul li {
list-style-type: none;
padding-top: 12px;
margin: 0;
}
.footer-box4 ul li a {
text-decoration: none;
height: 24px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 16px;
line-height: 24px;
}

.separator {
    position: absolute;
    top: 74%;
    left: 10%;
    height: 1px;
    width: 80%;
    transform: scaleY(-1);
    background-color: #7D7D7D;
}

.info-digitalcube {
    position: absolute;
    top: 79%;
    left: 10%;
    height: 24px;
    width: 90%;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
}

.meni {
    position: absolute;
    top: 85%;
    margin: 0 10%;
    width: 80%;
}

.copyright-digital {
float: left;
/*position: absolute;*/
/*top: 401px;*/
/*left: 151px;*/
height: 24px;
width: 393px;
color: #FFFFFF;
font-family: Montserrat;
font-size: 16px;
line-height: 24px;
}

.social-icon {
/*top: 396px;*/
/*left: 1003px;*/
/*position: absolute;*/
float: right;
height: auto;
width: auto;
}

.social-icon ul {
margin: 0;
padding: 0;
list-style-type: none;
display: -webkit-box;
}

.social-icon ul li {
margin: 0;
padding: 0;
}

.social-icon ul li:nth-child(1) {
margin: 0 19px 0 0;
}
.social-icon ul li:nth-child(2) {
margin: 0 19px 0 19px;
}
.social-icon ul li:nth-child(3) {
margin: 0 19px 0 19px;
}
.social-icon ul li:nth-child(4) {
margin: 0 19px 0 19px;
}
.social-icon ul li:nth-child(5) {
margin: 0 0 0 19px;
}


@media screen and (max-width: 1350px) {
    .text {
        display: grid;
        justify-items: center;
        /*grid-row-gap: 30px;*/
    }
    #line {
        height: 30px;
        width: 1px;
        position: relative;
        top: 2.6%;
        left: 50%;
        transform: translateX(-2.6%) translateY(-50%);
    }
    .rectangle-10 {
        width: 100%;
    }
    .aaaaa {
        width: 100%;
    }
    .menu-rows .double {
        width: 65%;
    }
    .menu-rows p {
        width: 65%;
    }
    .container3 {
        height: 1700px;
    }
    .group1 {
        display: grid;
        justify-items: center;
        grid-row-gap: 30px;
    }
    .card {
        max-width: none;
    }
    .shape {
        width: 19%;
    }
    .container4 {
        height: 1900px;
        background-size: auto;
    }
    .group2 p {
        width: 100%;
    }
    .group3 {
        grid-template-columns: 80%;
        justify-items: center;
        grid-row-gap: 70px;
    }
    .cards {
        width: 90%;
    }
    .cards p {
        width: 70%;
        font-size: 18px;
    }
    .cards img {
        margin-bottom: 70px;
    }
    #br3 img {
        margin-bottom: 70px;
    }
    .container5 {
        height: 1700px;
    }
    .background {
        position: unset;
    }
    .group5 {
        display: grid;
        justify-items: center;
        grid-row-gap: 100px;
        top: -40%;
    }
    .innovators {
        width: 65%;
    }
    .group4 {
        height: 22%;
        top: -31%;
    }
    .quality {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .menu-rows .double {
        font-size: 1.8vw;
    }
    .menu-rows p {
        font-size: 1.8vw;
    }
    .text-nulla {
        font-size: 2vw;
    }
    .what-mask {
        width: 60%;
    }
    .shape {
        opacity: 0.3;
    }
}


@media screen and (max-width: 900px)
{
    .container {
        width: 100%;

    }
    .container .menu nav ul li {
        margin: 0;
        display: block;
        clear: both;
        border-bottom: 1px solid #666464;
    }
    .main-text h1 {
        font-size: 5vw;
        line-height: 7vw;
    }

    .container2 {
        padding: 100px 50px;
    }
    .desktop {
        top: 15%;
        left: -30%;
    }
    .cards {
        width: 100%;
    }
    .cards p {
        width: 85%;
    }
    .container5 {
        height: 1500px;
        background: #FFFFFF url('img/shape.png') no-repeat;
    }
    .group4 {
        top: 15%;
    }
    .group4 p {
        margin: 0 auto;
        position: relative;
        top: -50px;
    }
    .group4 h1 {
        position: relative;
        top: -70px;
    }
    .innovators {
        width: 70%;
    }
    .quality {
        margin-top: unset;
    }
    .group5 {
        grid-row-gap: unset;
        top: 10%;
    }
    .meni {
        display: grid;
        grid-row-gap: 7px;
    }
    .background {
        display: none;
    }
}

@media screen and (max-width: 900px)
{
    .we-do-it-card {
        width: 70%;
    }
    .logo {
        margin: 30px 0 0 60px;
    }
    .footer {
        height: 600px;
    }
    .footer-box3 {
        margin-left: 10%;
    }
    .footer-box1 {
        width: 39%;
    }
    .footer-box2 {
        width: 39%;
    }
    .footer-box3 {
        width: 39%;
    }
    .footer-box4 {
        width: 39%;
    }
    .separator {
        top: 103%;
    }
    .info-digitalcube {
        top: 108%;
    }
    .meni {
        top: 112%;
    }
    .social-icon {
        margin: 20px auto;
    }
}

@media screen and (max-width: 750px) {
    .oval-text {
        top: 20px;
        margin: 26px 4%;
        width: 92%;
    }
    .group4 p {
        width: 98%;
        line-height: 28px;
    }
    .container2 {
        padding: 100px 26px;
    }
}

@media screen and (max-width: 650px) {
    /*.menu {*/
        /*display: grid;*/
        /*padding-top: 2%;*/
    /*}*/
    .main-text h1 {
        font-size: 32px;
        width: 90%;
        top: 60%;
    }
    .text-nulla {
        height: 250px;
        width: 85%;
        font-size: 2.5vw;
    }
    .menu-rows .double {
        font-size: 2vw;
        width: 60%;
        line-height: 20px;
        margin-top: 8%;
    }
    .menu-rows p {
        font-size: 2vw;
        width: 60%;
    }
    .we-do-it-card {
        width: 80%;
    }
    .desktop {
        top: 22%;
        left: -40%;
    }
    .cards img {
        margin-bottom: 50px;
    }
    .cards p {
        font-size: 2.6vw;
    }
    .innovators {
        width: 80%;
    }
    .quality {
        width: 90%;
    }
    .quality h1 {
        width: unset;
    }
    .quality p {
        width: unset;
        font-size: 3vw;
    }
    .oval-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 570px) {
    .main-text h1 {
        font-size: 5.5vw;
    }
    .what-mask {
        height: 330px;
    }
    .container2 {
        padding: 100px 2px;
    }
    .section-mark {
        width: 94%;
    }
    .desktop {
        padding: 5px;
        height: 25%;
        width: 100%;
        left: -10%;
    }
    .iphone {
        padding: 5px;
        top: 13%;
        left: 50%;
    }
    /*.aaa {*/
        /*height: 92%;*/
        /*width: 92%;*/
    /*}*/
    .aaa img {
        width: 100%;
        height: 100%;
    }
    .group2 {
        top: -70px;
    }
    .group4 h1 {
        top: -180px;
    }
    .group4 p {
        top: -140px;
    }
    .group6 p {
        margin: 80px auto;
    }
    .group6 h1 {
        white-space: normal;
    }
    .group2 p {
        line-height: 28px;
    }
    .menu-rows img {
        margin: 26px 0 26px 10px;
    }
    .card h1 {
        float: left;
        width: 78%;
        line-height: unset;
        top: 4px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .card h2 {
        float: left;
        width: 78%;
        line-height: unset;
        margin-top: unset;
        margin-left: 20px;
    }
    .card p {
        float: left;
        width: 99%;
        margin: 0;
        line-height: unset;
    }
    .shape {
        opacity: unset;
        height: unset;
    }
    .shape img {
        float: left;
        width: 80%;
    }
    .group5 {
        width: 85%;
    }
    .quality {
        height: 400px;
    }
    .copyright-digital {
        width: 100%;
    }
    .what-we-do {
        width: 85%;
        text-align: unset;
    }
}

@media screen and (max-width: 500px) {
    .main-text h1 {
        font-size: 5.9vw;
        top: 50%;
    }
    label {
        display: block;
        cursor: pointer;
    }
    nav {
        text-align: center;
        width: 100%;
        display: none;
    }
    #toggle:checked + nav {
        display: block;
    }
    .menu nav ul {
        width: 100%;
        text-align: center;
        float: none;
    }
    .scroll-btn {
        top: 55%;
    }
    .menu {
        display: block;
    }
    .logo {
        width: 150px;
        margin: 30px 0 0 30px;
    }
    .menu-rows {
        padding: 10px;
    }
    .menu-rows .double {
        font-size: 3vw;
        margin: 0;
        width: 100%;
        line-height: 17px;
    }
    .menu-rows p {
        font-size: 3vw;
        margin: 0;
        width: 100%;
        line-height: unset;
    }
    .menu-rows img {
        margin: unset;
    }
    .card h2 {
        font-size: 2vw;
    }
    .card p {
        font-size: 2.5vw;
    }
    .we-do-it {
        width: 55%;
    }
    .how-we {
        width: 100%;
        font-size: 8vw;
    }
    .cras-text {
        font-size: 3.5vw;
    }
    .desktop {
        height: 22%;
        width: 90%;
    }
    /*.bbb img {*/
        /*width: 100%;*/
        /*height: 100%;*/
    /*}*/
    /*.bbb {*/
        /*width: 92%;*/
        /*height: 92%;*/
    /*}*/
    .iphone {
        width: 50%;
        height: 25%;
    }
    .group2 p {
        font-size: 12px;
        line-height: 25px;
    }
    .cards p {
        width: 90%;
        margin-top: unset;
    }
    .cards img {
        margin-bottom: 30px;
    }
    .quality h1 {
        line-height: 30px;
        font-size: 6vw;
    }
    .quality p {
        line-height: 22px;
        font-size: 4vw;
    }
    .group3 {
        grid-row-gap: 90px;
    }
    .group4 h1 {
        top: -100px;
        font-size: 8vw;
        width: unset;
    }
    .group2 h1 {
        font-size: 8vw;
    }
    .innovators {
        height: 1%;
    }
    .group4 {
        display: grid;
        grid-row-gap: 480px;
        width: unset;
    }
    .group5 {
        top: 30%;
        width: 100%;
    }
    .content {
        font-size: 8vw;
    }
    .section-mark {
        font-size: 4vw;
    }
    .group2 p {
        font-size: 3.5vw;
    }
    .cards p {
        font-size: 3vw;
    }
    .innovators img {
        width: 80%;
    }
    .group6 h1 {
        font-size: 8vw;
        width: unset;
    }
    .group6 p {
        font-size: 4vw;
    }
    .oval-text {
        font-size: 4vw;
    }
    .path .aleksandar-sorensen {
        top: 70px;
        font-size: 5vw;
    }
    .logo-ooblife {
        top: 90px;
    }
    .meni {
        grid-row-gap: 30px;
    }
    .social-icon ul li:nth-child(1) {
        margin: 0 10px 0 0;
    }
    .social-icon ul li:nth-child(2) {
        margin: 0 10px 0 10px;
    }
    .social-icon ul li:nth-child(3) {
        margin: 0 10px 0 10px;
    }
    .social-icon ul li:nth-child(4) {
        margin: 0 10px 0 10px;
    }
    .social-icon ul li:nth-child(5) {
        margin: 0 0 0 10px;
    }
    .footer-box3 p {
        letter-spacing: -1px;
    }
    .footer-box4 p {
        letter-spacing: -1px;
    }
    .what-we-do {
        margin: 0 0 30px;
    }
    .what-mask {
        padding: 7% 0 0 7%;
        height: unset;
    }
    .text-nulla {
        font-size: 3vw;
        margin-left: unset;
    }
    .card h2 {
        font-size: 3.5vw;
    }
    .card p {
        font-size: 3vw;
    }
    #br3 img {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 407px) {
    .card h1 {
        top: -38px;
        margin-left: 69px;
    }
    .card h2 {
        font-size: 3.6vw;
        position: relative;
        top: -11%;
        margin-left: unset;
        width: 100%;
    }
    .card p {
        font-size: 3.3vw;
        position: relative;
        top: -12%;
    }
    .text-nulla {
        font-size: 3.3vw;
    }
}
